@import url("..css/style.css");
.body__product-detail {
    background-color: var(--white);
    width: 70%;
    height: auto;
    margin: 0 auto;
    z-index: 5;
    display: block;
    box-shadow: var(--bold-box-shadow);
    border-radius: 1rem;
}

.header__product-detail {
    display: flex;
    width: 100%;
}

.left {
    padding: 2rem;
    box-sizing: border-box;
}

.big__img {
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
    border: solid 1px var(--main-color);
}

.big__img img {
    width: inherit;
}

.images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.small__img {
    width: 6rem;
    overflow: hidden;
    border: 1.5px solid var(--main-color);
}

.small__img img {
    width: inherit;
    cursor: pointer;
    transition: all .03s ease;
}

.small__img:hover img {
    transform: scale(1.2);
}

.right {
    padding-left: 5rem;
}

.__product__name {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 4rem;
}

.price {
    font-size: var(--size);
    font-weight: 500;
    margin: 1.4rem 0;
}

.category {
    display: flex;
}

.type {
    width: 4.5rem;
    border: solid 1px var(--main-color);
    text-align: center;
    margin: 0 .5rem;
}

.type:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.quantity {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.quantity p {
    font-size: 1.5rem;
    font-weight: 600;
}

.quantity input {
    width: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.main__product-detail {
    padding: 2rem;
}

.nav-item {
    width: 20%;
    margin-bottom: 2rem;
}

.nav-item button {
    font-size: var(--size);
    width: 100%;
    text-align: center;
    background-color: var(--white);
}

.nav-item button.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}


.rate__tab-content {
    display: flex;
}

.star-number__rate {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.progress {
    margin: 0 auto;
    width: 70%;
    height: 10px;
}

.rate__title {
    font-size: var(--size);
    margin: 5rem 0 0 0;
}

.rate__point {
    font-size: 45px;
    color: var(--main-color);
    font-weight: bold;
}

.rate__left {
    height: 50rem;
    overflow-y: scroll;
    background-color: var(--white);
}

/* rate content */
.rate__content-item {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
}

.rate__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.custommer {
    display: flex;
}

.avatar {
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: inherit;
}

.custommer__detail {
    padding-left: 1rem;
}

.custommer__name {
    font-size: var(--size);
    font-weight: bold;
}

.cmt__date {
    color: var(--light-color);
}

@media only screen and (max-width: 768px) {
    .body__product-detail {
        width: 100%;
    }

    .small__img{
        width: 5rem;
    }

    .rate__point {
        font-size: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width:1200px){
    .body__product-detail {
        width: 100%;
    }
    .small__img{
        width: 5rem;
    }
}




/* Amount */
.buttons_added {
    opacity: 1;
    display: inline-block;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
    margin-left: 1rem;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 3rem;
    width: 2rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: .5px solid var(--light-grey);
}

.is-form:focus, .input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 2rem 0 0 2rem;
}

.is-form.plus {
    border-radius: 0 2rem 2rem 0;
}

.input-qty {
    background-color: var(--white);
    height: 3rem;
    text-align: center;
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}