<!-- account modal -->
<div class="modal fade" id="account-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header nav-tabs">
                <ul class="modal-header__tab nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <button class="modal-header__login" data-bs-toggle="pill" data-bs-target="#login">Đăng nhập</button>
                    </li>
                    <li class="nav-item">
                        <button class="modal-header__register" data-bs-toggle="pill" data-bs-target="#register">Đăng ký</button>
                    </li>
                </ul>
                <button type="button" class="modal-header__btn close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body tab-content">
                @*Login*@
                <div class="modal-body__login tab-pane show" id="login">
                    @Html.Partial("__Form-login")
                </div>

                @*Register*@
            <div class="modal-body__register tab-pane" id="register">
                @Html.Partial("__Form-register")
            </div>

                @*Login by Google and Facebook*@
                <div class="form__line">
                    <hr>
                    <h3>Hoặc</h3>
                    <hr>
                </div>
                <div class="form__other">
                    <a href="#" class="facebook"><img class="img--style" src="~/Content/images/banners/facebook.png"></a>
                    <a href="#" class="google"><img class="img--style" src="~/Content/images/banners/google.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>