<style>
</style>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Họ và tên</label>
    <input type="text" class="form-control">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Số điện thoại</label>
    <input type="text" class="form-control">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="text" class="form-control">
</div>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
    <textarea class="form-control" rows="3"></textarea>
</div>
<div class="mb-3">
    <ul class="ratings">
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
        <li class="star"></li>
    </ul>
</div>

<div class="btn">
    <button>Đánh giá</button>
</div>