<div class="header__search-result">
    @for (var i = 0; i < 10; i++)
    {
        <a class="row item" href="#">
            <div class="s-img col-2 col-md-3"><img src="~/Images/Products/BangDaBoxing.jpg" /></div>
            <div class="col-10 col-md-9 product-name">Tên của sản phẩm sẽ nằm ở đây</div>
        </a>
    }
</div>
