@model IEnumerable<DataAccessLib.Entities.Product>
@foreach (var item in Model)
{
    
    <a class="product__item" href="/Product/Detail/@item.productID">
        <div class="product align-items-center">
            @{
                var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                var price = item.price - item.price * item.discount;
                var discount = item.discount * 100;
            }
            <div class="product__discount">-@item.discount%</div>
            @if (@item.img == null)
            {
                <img class="product__img" src="~/Content/images/banners/no-image.jpg">
            }
            else
            {
                <img class="product__img" src="~/Content/images/@item.img">
            }
            <h5 class="product__name">@item.productName</h5>
            <div class="product__price">
                <div class="new__price">@String.Format(format, "{0:c0}", price)</div>
                <div class="old__price text-decoration-line-through">@String.Format(format, "{0:c0}", item.price)</div>
            </div>
            <div class="item__star">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="add-cart__btn">
                <span>Thêm vào giỏ</span>
            </div>
        </div>
    </a>
}