<footer class="footer">
    <div class="footer__box-container">

        <div class="box">
            <h3 class="box__h3--style"> SSport <i class="fas fa-shopping-basket icon--color"></i> </h3>
            <p>
                Cửa hàng chuyên cung cấp thực phẩm bổ sung và dụng cụ hỗ trợ tập luyện thể thao và phục hồi chức năng vận
                động
            </p>
            <div class="box__share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-google"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3 class="box__h3--style">Liên hệ</h3>
            <a href="#" class="box__links"> <i class="fas fa-phone icon--color"></i> (+84) 961037969 </a>
            <a href="#" class="box__links"> <i class="fas fa-envelope icon--color"></i> vmmduc@gmail.com </a>
            <a href="#" class="box__links"> <i class="fas fa-map-marker-alt icon--color"></i> Hà Nội, Việt Nam </a>
        </div>

        <div class="box">
            <h3 class="box__h3--style">Đăng kí nhận thông tin</h3>
            <input type="email" placeholder="Email ..." class="box__email">
            <div class="btn"><button>Đăng ký</button></div>
            <img src="~/Content/images/banners/payment.png" class="box__payment" alt="">
        </div>

    </div>
</footer>