@{
    var user = Session[DucVuSport.Common.Constans.Session.LOGIN_SESSION] as DucVuSport.Models.Entities.User;
}
<div class="_top">
    @if (user != null)
    {
        <script>
            $('._top').css({ "display": "block" });
        </script>
        <span>Xin chào @(user.Email)</span>
    }
</div>
<div class="_header">
    <a href="#home" class="header__logo"> <i class="fas fa-shopping-basket"></i> DucVuStore </a>
    <nav class="header__menu">
        <a href="/" class="header__menu-item">Trang chủ</a>
        <a href="/Product" class="header__menu-item">Sản phẩm</a>
        <a href="/Blog" class="header__menu-item">Tin tức</a>
        <a href="#" class="header__menu-item">Giới thiệu</a>
    </nav>

    <div class="header__icons">
        <div id="search-btn"><i class="fas fa-search"></i></div>
        <div id="cart-btn">
            <i class="fas fa-shopping-cart"></i>
            <span class="header__cart--notice">@Session["Count"]</span>
        </div>
        <div id="account-btn" data-toggle="modal" data-target="#accountForm"><i class="fas fa-user"></i></div>
        <div id="menu-btn"><i class="fas fa-bars"></i></div>
    </div>

    <form class="header__search col-md-4">
        <div class="header__search-input">
            <input type="search" id="search-box" placeholder="Tìm kiếm..." class="search-change">
            <label for="search-box" class="fas fa-search"></label>
        </div>
        <div class="s-result"></div>
    </form>
</div>

<div class="header__cart"></div>

<div class="col-5 col-md-3 header__account">
    @if (Session["user"] != null)
    {
        <a class="header__account-item" href="/User/Edit">Tài khoản</a>
        <a class="header__account-item" data-bs-toggle="modal" data-bs-target="#change-pass">Đổi mật khẩu</a>
        <a class="header__account-item" href="/User/Logout">Đăng xuất</a>
    }
    else
    {
        <a class="header__account-item" id="login_btn"
           data-bs-toggle="modal" data-bs-target="#account-modal">
            Đăng nhập
        </a>

        <a class="header__account-item" id="register_btn"
           data-bs-toggle="modal" data-bs-target="#account-modal">
            Đăng ký
        </a>
    }
</div>


<script>
    $('.search-change').keypress(function () {
        var keyword = $('.search-change').val();
        $.ajax({
            url: "/Product/SearchProduct",
            data: { keyword: keyword },
            success: function (response) {
                $('.s-result').html(response);
            },
        });
    })
</script>