<li>
    <a class="menu" href="/Admin/HomeAdmin/Index">
        <i class='bx bx-home'></i>
        <span>Bảng điều khiển</span>
    </a>
</li>
<li>
    <a class="menu" href="/Admin/ProductAdmin/Index">
        <i class='bx bxl-product-hunt'></i>
        <span>Sản phẩm</span>
    </a>
</li>
<li>
    <a class="menu" href="/Admin/Bill/Index">
        <i class='bx bxl-product-hunt'></i>
        <span>Hóa đơn</span>
    </a>
</li>
<li>
    <a class="menu">
        <i class='bx bxl-blogger'></i>
        <span>Bài viết</span>
    </a>
</li>

<li class="sidebar-submenu">
    <a class="sidebar-menu-dropdown">
        <i class='bx bx-user-circle'></i>
        <span>Tài khoản</span>
        <div class="dropdown-icon"></div>
    </a>
    <ul class="sidebar-menu sidebar-menu-dropdown-content">
        <li>
            <a class="menu">
                Thông tin cá nhân
            </a>
        </li>
        <li>
            <a class="menu">
                Cài đặt tài khoản
            </a>
        </li>
        <li>
            <a class="menu">
                Quyền truy cập
            </a>
        </li>
    </ul>
</li>