<li>
    <div class="menu active">
        <i class='bx bx-home'></i>
        <span>Bảng điều khiển</span>
    </div>
</li>
<li>
    <div class="menu">
        <i class='bx bxl-product-hunt'></i>
        <span>Sản phẩm</span>
    </div>
</li>
<li>
    <div class="menu">
        <i class='bx bxs-group'></i>
        <span>Khách hàng</span>
    </div>
</li>
<li class="sidebar-submenu">
    <div class="sidebar-menu-dropdown">
        <i class='bx bx-user-circle'></i>
        <span>Tài khoản</span>
        <div class="dropdown-icon"></div>
    </div>
    <ul class="sidebar-menu sidebar-menu-dropdown-content">
        <li>
            <div class="menu">
                Thông tin cá nhân
            </div>
        </li>
        <li>
            <div class="menu">
                Cài đặt tài khoản
            </div>
        </li>
    </ul>
</li>
<li class="sidebar-submenu">
    <div class="sidebar-menu-dropdown">
        <i class='bx bx-cog'></i>
        <span>Cài đặt</span>
        <div class="dropdown-icon"></div>
    </div>
    <ul class="sidebar-menu sidebar-menu-dropdown-content">
        <li>
            <div class="darkmode-toggle" id="darkmode-toggle">
                Chế độ tối
                <span class="darkmode-switch"></span>
            </div>
        </li>
    </ul>
</li>