<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="shortcut icon" href="~/Areas/Admin/Content/images/logo-mb.png" type="image/png">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    @Scripts.Render("~/bundles/jquery")
    <!-- APP CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/grid.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/app.css">
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="~/Areas/Admin/Content/images/logo-lg.png" alt="Comapny logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="~/Areas/Admin/Content/images/user-image.jpeg" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    Vũ Mạnh Đức
                </div>
            </div>
            <button class="btn btn-outline">
                <i class='bx bx-log-out bx-flip-horizontal'></i>
            </button>
        </div>
        <ul class="sidebar-menu">
            @Html.Partial("__Sidebar-menu")
        </ul> <!-- SIDEBAR MENU -->
    </div>  <!-- SIDEBAR -->

    <div class="main">
        @RenderBody()
    </div>  <!-- MAIN CONTENT -->


    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/Areas/Admin/Content/js/app.js"></script>
</body>
</html>