<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <!-- JQUERY -->
    @Scripts.Render("~/bundles/jquery")

    <!-- APP CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/grid.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/app.css">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

    <!-- BOXICON -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- SUMMERNOTE -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            <a href="#home" class="header__logo"> <i class="fas fa-shopping-basket"></i> DucVuStore </a>
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="~/Areas/Admin/Content/images/user-image.jpeg" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    Vũ Mạnh Đức
                </div>
            </div>
            <button class="btn btn-outline">
                <i class='bx bx-log-out bx-flip-horizontal'></i>
            </button>
        </div>
        <ul class="sidebar-menu active">
            @Html.Partial("__Sidebar-menu")
        </ul> <!-- SIDEBAR MENU -->
    </div>  <!-- SIDEBAR -->

    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="label">@ViewBag.Label</div>
        </div>
        @RenderBody()
    </div>  <!-- MAIN CONTENT -->
    <div class="overlay"></div>

    <script>
        let overlay = $('.overlay');
        let sidebar = $('.sidebar')

        $('#mobile-toggle').click(function () {
            overlay.addClass('active')
            sidebar.addClass('active')
        })

        $('#sidebar-close').click(function () {
            overlay.removeClass('active')
            sidebar.removeClass('active')
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/Areas/Admin/Content/js/app.js"></script>
</body>
</html>