<div class="detail__no-cart col-md-8 col-12">
    <div class="no-cart__img">
        <img src="~/Images/Banners/success.png" alt="">
    </div>
    <div class="no-cart__title">
        Đặt hàng thành công
    </div>
    <div>
        Cảm ơn bạn đã đặt hàng
    </div>
    <div>
        Chúng tôi sẽ liên hệ với bạn ngay sau khi nhận được đơn đặt hàng
    </div>
    <div>
        Mọi thắc mắc xin vui lòng liên hệ: 0989993939
    </div>
    
    <div class="btn"> <a href="/Home/Index" style="font-size: 1.5rem;"><i class="fas fa-arrow-left"></i> Quay lại trang chủ</a></div>
</div>