<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Order status</th>
            <th>Payment status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#2345</td>
            <td>
                <div class="order-owner">
                    <img src="~/Areas/Admin/Content/images/user-image-2.png" alt="user image">
                    <span>John doe</span>
                </div>
            </td>
            <td>2021-05-09</td>
            <td>
                <span class="order-status order-shipped">
                    Shipped
                </span>
            </td>
            <td>
                <div class="payment-status payment-paid">
                    <div class="dot"></div>
                    <span>Paid</span>
                </div>
            </td>
            <td>$123.45</td>
        </tr>
        <tr>
            <td>#2345</td>
            <td>
                <div class="order-owner">
                    <img src="~/Areas/Admin/Content/images/user-image-3.png" alt="user image">
                    <span>evelyn</span>
                </div>
            </td>
            <td>2021-05-09</td>
            <td>
                <span class="order-status order-shipped">
                    Shipped
                </span>
            </td>
            <td>
                <div class="payment-status payment-paid">
                    <div class="dot"></div>
                    <span>Paid</span>
                </div>
            </td>
            <td>$123.45</td>
        </tr>
        <tr>
            <td>#2345</td>
            <td>
                <div class="order-owner">
                    <img src="~/Areas/Admin/Content/images/user-image-2.png" alt="user image">
                    <span>John doe</span>
                </div>
            </td>
            <td>2021-05-09</td>
            <td>
                <span class="order-status order-shipped">
                    Shipped
                </span>
            </td>
            <td>
                <div class="payment-status payment-paid">
                    <div class="dot"></div>
                    <span>Paid</span>
                </div>
            </td>
            <td>$123.45</td>
        </tr>
        <tr>
            <td>#2345</td>
            <td>
                <div class="order-owner">
                    <img src="~/Areas/Admin/Content/images/user-image-3.png" alt="user image">
                    <span>evelyn</span>
                </div>
            </td>
            <td>2021-05-09</td>
            <td>
                <span class="order-status order-shipped">
                    Shipped
                </span>
            </td>
            <td>
                <div class="payment-status payment-paid">
                    <div class="dot"></div>
                    <span>Paid</span>
                </div>
            </td>
            <td>$123.45</td>
        </tr>
    </tbody>
</table>