<table class="order">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Order status</th>
            <th>Payment status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody class="order-table">
        @for (var i = 0; i < 20; i++)
        {
            <tr>
                <td>#2345</td>
                <td>
                    <div class="order-owner">
                        <span>John doe</span>
                    </div>
                </td>
                <td>2021-05-09</td>
                <td>
                    <span class="order-status order-shipped">
                        Shipped
                    </span>
                </td>
                <td>
                    <div class="payment-status payment-paid">
                        <div class="dot"></div>
                        <span>Paid</span>
                    </div>
                </td>
                <td>$123.45</td>
            </tr>
        }
    </tbody>
</table>