<section class="post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="single-page-post">
                    <img class="img-fluid" src="~/Images/img/single.jpg" alt="">
                    <div class="top-wrapper ">
                        <div class="row d-flex justify-content-between">
                            <h2 class="col-lg-9 col-md-12 text-uppercase">
                                A Discount Toner Cartridge Is Better Than Ever
                            </h2>
                            <div class="col-lg-3 col-md-12 right-side d-flex justify-content-end">
                                <div class="desc">
                                    <h2>Mark wiens</h2>
                                    <h3>12 Dec ,2017 11:21 am</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-post-content">
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not
                            understand why you should have to spend money on boot camp when you can get the MCSE
                            study materials yourself at a fraction of the camp price. However, who has the
                            willpower to actually sit through a self-imposed MCSE training.
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not
                            understand why you should have to spend money on boot camp when you can get the MCSE
                            study materials yourself at a fraction of the camp price. However, who has the
                            willpower to actually sit through a self-imposed MCSE training. who has the
                            willpower to actually sit through a self-imposed MCSE training.
                        </p>

                        <blockquote>
                            Ea possunt paria non esse. Pudebit te, inquam, illius tabulae, quam
                            Cleanthes sane commode verbis depingere solebat. Urgent tamen et nihil remittunt. An
                            vero displicuit ea, quae tributa est animi virtutibus tanta praestantia? Sint ista
                            Graecorum; Cur igitur, cum de re conveniat, non malumus usitate loqui? Huius ego
                            nunc auctoritatem sequens idem faciam.
                            <cite>Wise Man</cite>
                        </blockquote>

                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not
                            understand why you should have to spend money on boot camp when you can get the MCSE
                            study materials yourself at a fraction of the camp price. However, who has the
                            willpower to actually sit through a self-imposed MCSE training.
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not
                            understand why you should have to spend money on boot camp when you can get the MCSE
                            study materials yourself at a fraction of the camp price. However, who has the
                            willpower to actually sit through a self-imposed MCSE training. who has the
                            willpower to actually sit through a self-imposed MCSE training.
                        </p>
                    </div>
                    <div class="bottom-wrapper">
                        <div class="row">
                            <div class="col-lg-4 single-b-wrap col-md-12">
                                <i class="far fa-heart" aria-hidden="true"></i>
                                lily and 4 people like this
                            </div>
                            <div class="col-lg-4 single-b-wrap col-md-12">
                                <i class="far fa-comment" aria-hidden="true"></i> 06 comments
                            </div>
                            <div class="col-lg-4 single-b-wrap col-md-12">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-area ">
                <div class="single_widget search_widget">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="fas fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="single_widget cat_widget">
                    <h4 class="text-uppercase pb-20">Danh mục</h4>
                    <ul>
                        <li>
                            <a href="#">Tin tức<span>0</span></a>
                        </li>
                        <li>
                            <a href="#">Kiến thức<span>0</span></a>
                        </li>
                        <li>
                            <a href="#">Kiến thức<span>0</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
