@import url("style.css");

.category__menu-bar{
    background-color: var(--main-color);
    display: none;
}
.category__menu-bar i{
    font-size: 2rem;
    font-weight: bolder;
    padding: 1.5rem;
    color: var(--white);
}

.product__nav {
    position: fixed;
    left: 0;
    height: 38rem;
    display: block;
    border-radius: 1rem;
    box-shadow: var(--bold-box-shadow);
}
.product__nav-item {
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 90%;
    font-size: var(--size);
    font-weight: bold;
    border-radius: 2rem;
}

    .product__nav-item:hover {
        background-color: var(--main-color);
        color: var(--white);
    }

.products {
    width: 100%;
    display: flex;
    height: auto;
}

.product__list {
    margin-left: 30rem;
    border-radius: 2rem;
}
.product__list hr{
    width: 90%;
    margin: 0 auto;
}
.product__list-content {
    margin-top: -1rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    box-sizing: border-box;
}

.product__paging {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.product__paging a {

    color: black;
    padding: 12px 18px;
    text-decoration: none;
}

.product__paging a.active {
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 50%;
}

.product__paging a:hover:not(.active) {
    background-color: #ddd;
    color: var(--main-color);
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .category__menu-bar {
        display: block;
    }

    .product__nav {
        display: none;
    }
    .product__list{
        width: 100%;
        margin-left: 0;
    }
    .product__list-heading {
        width: 50%;
        background-color: white;
        height: 4rem;
    }

    .product__list-content {
        display: grid;
        grid-template-columns: auto auto;
    }

    .product {
        display: flex;
        flex-direction: column;
        width: 200px;
        border-radius: 2rem;
        margin: 1.2rem;
        padding: 1.4rem;
        box-sizing: border-box;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .03);
        border: 1px solid rgba(0, 0, 0, .2);
        transition: all ease .03s;
        position: relative;
    }

    .product__img {
        width: 90%;
        height: auto;
        padding: .5rem 0;
        margin: .5rem auto;
        object-fit: contain;
        object-position: center;
    }

    .product__name {
        width: 80%;
        font-size: 1.5rem;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) and (max-width:1200px){
    .category__menu-bar {
        display: block;
    }
    .product__nav {
        display: none;
    }
    .product__list {
        width: 100%;
        margin-left: 0;
    }
    .product__list-content {
        grid-template-columns: auto auto auto;
    }
}

.dropdown-menu {
    border-radius: 1rem;
    box-shadow: var(--bold-box-shadow);
    margin: 1rem;
}
.dropdown-menu-item {
    font-size: var(--size);
    padding: 1rem;
    margin: 1rem;
}

    .dropdown-menu-item:hover {
        background-color: var(--main-color);
        color: var(--white);
    }