<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/product-detal.css" rel="stylesheet" />

@model DucVuSport.Models.Entities.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/_ViewStart.cshtml";
}
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<link href="~/Content/css/product-detal.css" rel="stylesheet" />
<div class="body__product-detail">
    <div class="header__product-detail">
        <div class="left col-md-4 col-4">
            @if (Model.Image == null)
            {
                <div class="big__img">
                    <img src="~/Content/images/banners/no-image.jpg" alt="">
                </div>
            }
            else
            {
                <div class="big__img">
                    <img src="~/Content/images/@Model.Image" alt="">
                </div>
            }
        </div>

        <div class="right col-md-9 col-9">
            <div class="__product__name">@Model.ProductName</div>
            <div class="item__star">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="price">@String.Format(format, "{0:c0}", Model.Price)</div>
            <div class="col-10">@Model.ShortDescription</div>
            <div class="quantity">
                <div>Số lượng:</div>
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-">
                    <input class="input-qty" max="100" min="1" type="number" value="1">
                    <input class="plus is-form" type="button" value="+">
                </div>
            </div>
            <div>
                <div class="detail-btn add-to-cart">
                    <span>Thêm vào giỏ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main__product-detail">
        <ul class="product__tab nav nav-pills" role="tablist">
            <li class="nav-item">
                <button class="description__tab-btn active" data-bs-toggle="pill" data-bs-target="#decript">Mô tả</button>
            </li>
            <li class="nav-item">
                <button class="rate__tab-btn" data-bs-toggle="pill" data-bs-target="#rate">Đánh giá</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane description__tab active" id="decript">
                <div class="desc-content">
                    @Model.Description
                </div>
            </div>
        </div>
    </div>
</div>