@{
    ViewBag.label = "Danh sách sản phẩm";

}
<div class="bill-index-content">
    <div class="d-flex justify-content-between">
        <form class="header__search">
            <label for="search-box" class="fas fa-search"></label>
            <input type="search" id="search-box" placeholder="Nhập thông tin...">
        </form>

        <p class="add-new">
            @Html.ActionLink("Tạo mới", "Create")
        </p>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Ảnh</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="result">
            @Html.Action("GetAllProduct", "ProductAdmin")
        </tbody>
    </table>
</div>


<script>
    $('#search-box').keypress(function () {
        var keyword = $('#search-box').val();
        $.ajax({
            url: "/Admin/ProductAdmin/SearchProduct",
            data: { keyword: keyword },
            success: function (response) {
                $('.result').html(response);
            },
        });
    })
</script>
